{% extends 'product/base.html' %}
{% load static %}

{% block title %}Корзина{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'product/css/cart.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'product/css/header_footer.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="block-cart">
            <h2 class="title-cart">Ваша корзина</h2>
            {% if cart.products.count %}
                <div class="row-table">
                    <table class="empty-cart">
                        <thead>
                            <tr class="info">
                                <th>Назва</th>
                                <th>Зображення</th>
                                <th>Кількість</th>
                                <th>Ціна</th>
                                <th>Загальна ціна</th>
                                <th>Дії</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in cart.products.all %}
                                <tr class="info" >
                                    <td>{{ i.product.title }}</td>
                                    <td><img src="{{ i.product.image.url }}"></td>
                                    <td>
                                        <form action="{% url 'change-count' product_model=i.product.category.slug slug=i.product.slug %}" method="post" class="change-count">
                                            {% csrf_token %}
                                            <input type="number" name="count" value="{{ i.count }}" min="1" max="{{ i.product.quantity_in_stock }}" class="field-change">
                                            <br>
                                            <input type="submit" value="Змінити кількість" class="button-change">
                                        </form>
                                    </td>
                                    <td>{{ i.product.price }} грн</td>
                                    <td>{{ i.all_price }} грн</td>
                                    <td>
                                        <a href="{% url 'delete-from-cart' product_model=i.product.category.slug slug=i.product.slug %}" class="delete">Видалити</a>
                                    </td>
                                </tr>
                            {% endfor %}
                                <tr class="final-date">
                                    <td colspan="2">
                                        <a href="{% url 'checkout' %}" class="checkout">Оформити замовлення</a>
                                    </td>
                                    <td></td>
                                    <td>Кількість</td>
                                    <td>{{ cart.all_product }}</td>
                                    {% if cart.all_product >= 3 and cart.all_product <= 5%}
                                        <td class="field-price">
                                            {{ cart.discount }} грн.
                                            <img src="{% static 'product/img/Без імені.png' %}" width="30px">
                                        </td>
                                    {% elif cart.all_product > 5 %}
                                        <td class="field-price">
                                            <img src="{% static 'product/img/Без імені1.png' %}" width="30px">
                                            {{ cart.discount }} грн.
                                        </td>
                                    {% else %}
                                        <td>
                                            {{ cart.all_price }} грн.
                                        </td>
                                    {% endif %}
                                </tr>
                        </tbody>
                    </table>
                {% else %}
                    <table class="empty-cart">
                        <thead>
                            <tr class="info">
                                <th>Назва</th>
                                <th>Зображення</th>
                                <th>Кількість</th>
                                <th>Ціна</th>
                                <th>Загальна ціна</th>
                                <th>Дії</th>
                            </tr>
                        </thead>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}