{% load static %}
<div class="cart">

    {% if p.new_product %}
        <img src="{% static 'product/img/завантаження (1dwq).png' %}" class="icon">
    {% endif %}

    <a href="{% url 'detail_product' category_id=p.category.slug slug=p.slug %}">
        <img src="{{ p.image.url }}" class='img-product' style="cursor: pointer">
    </a>

    <p class="tp"><a href="{% url 'detail_product' category_id=p.category.slug slug=p.slug %}"
                     class="title-product">{{ p.title }}</a></p>
    <p class="price">{{ p.price }} грн</p>
    <a href="{% url 'add-to-cart' product_model=p.category.slug slug=p.slug %}" class="buy">
        В корзину
        <img src="{% static 'product/img/2849824-basket-buy-market-multimedia-shop-shopping-store_107977.png' %}"
        ></a>

</div>
